* {
  margin: 0px;
}
@media screen and (max-width: 750px) and (min-width: 400px) {
  .form-inline {
    flex-wrap: nowrap;
  }
  .logo img {
    width: 20px;
  }
  .logo h2 {
    margin: 3px;
    padding: 2px;
    font-family: fantasy;
    font-size: 20px;
  }
  .mr-sm-2 {
    width: 120px;
  }
  .rStar {
    display: flex;
    flex-direction: column;
  }
  .rStar h2 {
    font-size: 30px;
    font-style: oblique;
    padding: 10px 5px;
    margin: 10px 0;
    justify-content: center;
  }
  .searchStars {
    margin: auto;
    justify-content: center;
  }
  .reset-btn {
    padding: 0px 100px;
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .navbar {
    height: 90px;
    padding: 10px;
  }
  .logo {
    display: none;
  }
  .form-inline {
    flex-wrap: nowrap;
  }
  .mr-sm-2 {
    width: 120px;
  }

  .rStar {
    display: flex;
    flex-direction: column;
  }
  .rStar h2 {
    font-style: oblique;
    padding: 10px 5px;
    margin: auto;
    justify-content: center;
  }
  .searchStars {
    margin: auto;
    justify-content: center;
  }
  .reset-btn {
    padding: 0px 100px;
    justify-content: center;
  }
}
.App {
  display: flex;
  flex-direction: column;
}
.navBar {
  position: fixed;
  z-index: 100;
  justify-content: center;
  width: 100%;
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo img {
  width: 40px;
}
.logo h2 {
  margin: 3px;
  padding: 2px;
  font-family: fantasy;
}
.rStar {
  margin: 80px auto 20px;
  display: flex;
  justify-content: center;
}
.rStar h2 {
  font-style: oblique;
  padding: 10px 5px;
  margin: 10px 0;
}
.searchStars {
  margin: auto 5px;
}

.reset-btn {
  margin: 25px 5px;
}

.movielist {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 100px;
  justify-content: center;
}
.movie {
  margin: 20px 30px;
}
.movie:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.movie button {
  float: right;
}
.movie-card {
  width: 12rem;
  height: 22rem;
  position: relative;
  overflow: hidden;
}

.overview {
  padding: 0.5rem;
  background-color: honeydew;
  opacity: 0.9;
  position: absolute;
  width: 12rem;
  transform: translateY(100%);
  bottom: 0;
  top: auto;
  transition: all 0.5s;
}
.movie-card:hover .overview {
  transform: translateY(0%);
}
